.cardProduct{
    width: 208px;
    height: 278px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;

    h5{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #000000
    }

    .price{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        color: #DB3022;
    }

    .store{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
        color: #9B9B9B;
    }
}