.breadcrumb{
  --bs-breadcrumb-divider: ">";
}

.categoryImage{
  width: 150px;
  height: 150px;
  // position: relative;
  // z-index: 2;
  /* margin: 18px; */
  /* margin-top: 42px; */
  border-radius: 8px;
}

.categoryName {
  font-size: 31px;
    left: 100px;
    position: absolute;
    z-index: 2;
    bottom: 220px;
    /* margin: 30px; */
    /* margin-top: 55px; */
    color: black;
}