.breadcrumb{
  --bs-breadcrumb-divider: ">";
}

.chat{
  border: 1px solid #9B9B9B;
  border-radius: 24px;
  margin-left: 10px;
}

.chat:hover{
  background: #DB3022;
  border-radius: 25px;
  color: white;
} 

.buyNow{
  background: #DB3022;
  border-radius: 25px;
  color: white;
}

.buyNow:hover{
  border: 1px solid #9B9B9B;
  color: black;
  border-radius: 24px;
} 

.bigPhoto {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.smallPhoto {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.sizeSelected {
  background-color: #aeaeae;
  border: inset 1px #5F2EEA;
}

.colorSelection{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.activeColor {
  border-style: dashed;
  border-color: #DB3022;
  border-width: 3px;
}

.activeColorBlack {
  border-style: dashed;
  border-color: black;
  border-width: 3px;
}