.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;

  // .categoryBackground{
  //   width: 13%;
  //   position: absolute;
  //   z-index: 1,
  // }

  .categoryImage{
    width: 150px;
    height: 150px;
    // position: absolute;
    // z-index: 2;
    /* margin: 18px; */
    /* margin-top: 42px; */
    border-radius: 8px;
  }

  .categoryName {
    position: absolute;
    font-size: 31px;
    z-index: 4;
    margin: 30px;
    margin-top: 55px;
    color: white;
  }
}