.main{
  .registerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pleaseRegister{
    padding-top: 35px;
  }

  .button {
    display: flex;
    justify-content: center; 
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .customerButton {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .sellerButton {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    --bs-btn-color: #9B9B9B;
    background-color: white !important;
    border-color: #9B9B9B !important;
  }

  .sellerButton:hover {
    background-color: #DB3022 !important;
  }
}

@media (max-width: 768px) { 
  .pleaseRegister{
    // background-color: #DB3022;
    font-size: 13pt;
    margin-top: -15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: -10px;
  }

  .loginForm{
    margin-top: -20px;
  }
}
