// Sidebar

.bg {
  background-color: rgba(245, 245, 245, 1);
  
  .box {
    display: flex;
    min-height: 100%;
    
    .sidebar {
      background-color: white;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      flex-direction: column;

      .content {
        // position: fixed;
        margin: 10px 48px 20px 100px;

        .picture {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          object-fit: cover;
        }


        .list:hover {
          background-color: #DB3022;
          transition: all ease-in .3s;
          span{
            color: white;
          }
        }

        .list {
          color: rgba(155, 155, 155, 1) !important;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px 10px;
          border-radius: 8px;
          width: 285px;
          box-sizing: border-box;
          cursor: pointer;

          span {
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            line-height: 24px;
          }

          span:hover {
            color: white;
            // background-color: rgba(219, 48, 34, 1);
          }

          .icon {
            width: 100px;
            height: 100px;
            background-color: black;
          }
        }

      }

    }

  }

  .listActive {
    background-color: #DB3022;
    
    span{
      color: white;
    }
  }
  //End Sidebar 

  // main content
  .card {
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 30px 100px 30px;
    border-radius: 2%;


    .in {
      width: 348px;
    }

    .check:checked {
      background-color: #DB3022;
    }

    .submit {
      width: 100px;
      height: 36px;
    }

    .submit:hover {
      background-color: #DB3022;
    }

    .border {
      border-left: 1px;
      color: rgba(212, 212, 212, 1);

      .edit:hover {
        background-color: #DB3022;
      }
    }

    .dashed {
      border: 3px dashed #9B9B9B;
      border-radius: 8px;
      border-spacing: 10px;
      width: 100%;
      height: 86px;

    }

  }

}

// .address:active{
//   border-color: rgba(219, 48, 34, 1);
// }

.cardOrder {
  // margin-top: 80px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 30px 50px 30px;
  border-radius: 2%;
}

.font {
  color: rgba(155, 155, 155, 1);
  text-decoration: none;
  cursor: pointer;
}

.font:hover {
  color: #DB3022;
  border-bottom: 5px solid #DB3022;
}

.font:active {
  color: #DB3022;
  border-bottom: 5px solid #DB3022;
}

.btn:hover {
  background-color: #DB3022;
}

// end main content