@import "./variabels";

main{
  background-color: rgba(245, 245, 245, 1);
}

a {
  // color: inherit !important;
  text-decoration: none !important;
  // color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}